.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__card {
  background-color: rgba(255, 255, 255, 0.7);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fighter-preview__img-wrap {
  height: 350px;
  display: flex;
  justify-content: center;
}

.fighter-preview__name {
  font-size: 18px;
  color: rgb(151, 0, 0);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.fighter-preview__property {
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}